<!DOCTYPE html>
<html layout:decorate="~{Layout}">
	<head>
		<title>Usuarios</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="table-responsive">
			    <table class="table table-striped table-sm table-bordered table-hover">
				    <thead class="thead-light">
				        <tr>
				            <th>Primer nombre</th>
				            <th>Primer apellido</th>
				        </tr>
				    </thead>
				    <tbody>
				    	<tr th:if="${modelo.empty}">
				            <td colspan="2"> No se encontraron resultados </td>
				        </tr>
				        <tr th:each="item : ${modelo}">
				            <td><span th:text="${item.nombre1}">Title</span></td>
				            <td><span th:text="${item.apellido1}">Author</span></td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>
	</body>
</html>