<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Gestión de recursos</title>
	
	<link href="/Complementos/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/Complementos/gijgo-combined-1.9.13/css/gijgo.min.css" rel="stylesheet" />
	<link href="/Complementos/fontawesome-free-5.12.1-web/css/all.min.css" rel="stylesheet"/>
	<link href="/Complementos/bootstrap-select-1.13.9/dist/css/bootstrap-select.min.css" rel="stylesheet"/>
	
	<th:block layout:fragment="estilos"/>
	
	<link href="/Estilos/estandar.css" rel="stylesheet" />
</head>
<body>
	<header th:insert="Header.html"></header>

	<div class="separador-10"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-2 collapse show d-md-flex bg-light pt-2 pl-0" id="sidebar" sec:authorize="isAuthenticated()">
				<div th:replace="Menu.html"></div>
			</div>
			<div class="col">
				<div th:replace="MigaPan.html" sec:authorize="isAuthenticated()"></div>
				<div layout:fragment="content"></div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/Complementos/jquery-3.4.1-dist/jquery-3.4.1.min.js"></script>
	
	<script type="text/javascript" src="/Complementos/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js"></script>
	
	<script type="text/javascript" src="/Complementos/jquery-validation-1.19.1/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/Complementos/jquery-validation-1.19.1/localization/messages_es.min.js"></script>
	
	<script type="text/javascript" src="/Complementos/gijgo-combined-1.9.13/js/gijgo.min.js"></script>
	<script type="text/javascript" src="/Complementos/gijgo-combined-1.9.13/js/messages/messages.es-es.min.js"></script>
	
	<script type="text/javascript" src="/Complementos/fontawesome-free-5.12.1-web/js/all.min.js"></script>
	
	<script type="text/javascript" src="/Complementos/bootstrap-select-1.13.9/dist/js/bootstrap-select.min.js"></script>
		

	<th:block layout:fragment="scripts"/>

	<script type="text/javascript" src="/Scripts/estandar.js"></script>
</body>
</html>