<!DOCTYPE html>
<html>
<head>
</head>
<body>	
	<ul class="nav flex-column flex-nowrap overflow-hidden cl-menu">
	    <li class="nav-item">
	        <a class="nav-link text-truncate" href="/">
	        	<i class="fa fa-home"></i> <span class="d-none d-sm-inline">Inicio</span>
	        </a>
	    </li>
	    <li class="nav-item cl-menu-group" sec:authorize="hasAuthority('ADMIN')">
		    <a class="nav-link collapsed text-truncate" href="#submenu-parametrizacion" data-toggle="collapse" data-target="#submenu-parametrizacion">
	        	<i class="fas fa-cogs"></i> 
	        	<span class="d-none d-sm-inline">Parametrización</span>
	        </a>
	        <div class="collapse cl-submenu cl-menu-group" id="submenu-parametrizacion" aria-expanded="false">
	        	<a class="nav-link collapsed text-truncate" href="#submenu-param-perfiles" data-toggle="collapse" data-target="#submenu-param-perfiles">
	        		<i class="far fa-address-book"></i> 
	        		<span>Perfiles</span>
	        	</a>
	        	<div class="collapse cl-submenu cl-menu-group" id="submenu-param-perfiles">
	        		<a class="nav-link collapsed text-truncate" href="#submenu-param-perfil" data-toggle="collapse" data-target="#submenu-param-perfil">
		        		<i class="far fa-address-book"></i>
		        		<span>Perfil</span>
		        	</a>
		        	<div class="collapse cl-submenu cl-menu-group" id="submenu-param-perfil">
			            <ul class="flex-column pl-2 nav">
			                <li class="nav-item">
			                	<a class="nav-link py-0" href="/Perfil/Filtro?clm=papepefi">
			                		<i class="fas fa-search"></i>
			                		<span>Buscar</span>
			                	</a>
			                </li>
			                <li class="nav-item">
			                	<a class="nav-link py-0" href="/Perfil/Crear?clm=papepenu">
			                		<i class="fas fa-plus"></i>
			                		<span>Nuevo</span>
			                	</a>
			                </li>
			            </ul>
			        </div>
			        <a class="nav-link collapsed text-truncate" href="#submenu-param-perfiltipo" data-toggle="collapse" data-target="#submenu-param-perfiltipo">
		        		<i class="far fa-address-card"></i> 
		        		<span>Tipo</span>
		        	</a>
		        	<div class="collapse cl-submenu cl-menu-group" id="submenu-param-perfiltipo">
			            <ul class="flex-column pl-2 nav">
			                <li class="nav-item">
			                	<a class="nav-link py-0" href="/PerfilTipo/Filtro?clm=papeptfi">
			                		<i class="fas fa-search"></i>
			                		<span>Buscar</span>
			                	</a>
			                </li>
			                <li class="nav-item">
			                	<a class="nav-link py-0" href="/PerfilTipo/Crear?clm=papeptnu">
			                		<i class="fas fa-plus"></i>
			                		<span>Nuevo</span>
			                	</a>
			                </li>
			            </ul>
			        </div>
			        <a class="nav-link collapsed text-truncate" href="#submenu-param-perfilnivel" data-toggle="collapse" data-target="#submenu-param-perfilnivel">
		        		<i class="fas fa-layer-group"></i> 
		        		<span>Nivel</span>
		        	</a>
		        	<div class="collapse cl-submenu cl-menu-group" id="submenu-param-perfilnivel">
			            <ul class="flex-column pl-2 nav">
			                <li class="nav-item">
			                	<a class="nav-link py-0" href="/PerfilNivel/Filtro?clm=papepnfi">
			                		<i class="fas fa-search"></i>
			                		<span>Buscar</span>
			                	</a>
			                </li>
			                <li class="nav-item">
			                	<a class="nav-link py-0" href="/PerfilNivel/Crear?clm=papepnnu">
			                		<i class="fas fa-plus"></i>
			                		<span>Nuevo</span>
			                	</a>
			                </li>
			            </ul>
			        </div>
		        </div>
	        </div>
	    </li>
	    <li class="nav-item cl-menu-group" sec:authorize="hasAuthority('ADMIN')">
	        <a class="nav-link collapsed text-truncate" href="#submenu-admin" data-toggle="collapse" data-target="#submenu-admin">
	        	<i class="fa fa-table"></i> 
	        	<span class="d-none d-sm-inline">Administración</span>
	        </a>
	        <div class="collapse cl-submenu cl-menu-group" id="submenu-admin" aria-expanded="false">
	        	<a class="nav-link collapsed text-truncate" href="#submenu-admin-presupuesto" data-toggle="collapse" data-target="#submenu-admin-presupuesto">
	        		<i class="fas fa-file-invoice-dollar"></i> 
	        		<span>Presupuesto</span>
	        	</a>
	        	<div class="collapse cl-submenu cl-menu-group" id="submenu-admin-presupuesto">
		            <ul class="flex-column pl-2 nav">
		                <li class="nav-item">
		                	<a class="nav-link py-0" href="/Presupuesto/Filtro?clm=adprfi">
		                		<i class="fas fa-search"></i>
		                		<span>Buscar</span>
		                	</a>
		                </li>
		                <li class="nav-item">
		                	<a class="nav-link py-0" href="/Presupuesto/Crear?clm=adprnu">
		                		<i class="fas fa-plus"></i>
		                		<span>Nuevo</span>
		                	</a>
		                </li>
		            </ul>
		        </div>
	        	<a class="nav-link collapsed text-truncate" href="#submenu-admin-proveedor" data-toggle="collapse" data-target="#submenu-admin-proveedor">
	        		<i class="fas fa-truck"></i> 
	        		<span>Proveedores</span>
	        	</a>
	        	<div class="collapse cl-submenu cl-menu-group" id="submenu-admin-proveedor">
		            <ul class="flex-column pl-2 nav">
		                <li class="nav-item">
		                	<a class="nav-link py-0" href="/Proveedor/Filtro?clm=adpvfi">
		                		<i class="fas fa-search"></i>
		                		<span>Buscar</span>
		                	</a>
		                </li>
		                <li class="nav-item">
		                	<a class="nav-link py-0" href="/Proveedor/Crear?clm=adpvnu">
		                		<i class="fas fa-plus"></i>
		                		<span>Nuevo</span>
		                	</a>
		                </li>
		            </ul>
		        </div>
	        	<a class="nav-link collapsed text-truncate" href="#submenu-admin-proyecto" data-toggle="collapse" data-target="#submenu-admin-proyecto">
	        		<i class="far fa-folder-open"></i> 
	        		<span>Proyectos</span>
	        	</a>
	        	<div class="collapse cl-submenu cl-menu-group" id="submenu-admin-proyecto">
		            <ul class="flex-column pl-2 nav">
		                <li class="nav-item">
		                	<a class="nav-link py-0" href="/Proyecto/Filtro?clm=adpyfi">
		                		<i class="fas fa-search"></i>
		                		<span>Buscar</span>
		                	</a>
		                </li>
		                <li class="nav-item">
		                	<a class="nav-link py-0" href="/Proyecto/Crear?clm=adpynu">
		                		<i class="fas fa-plus"></i>
		                		<span>Nuevo</span>
		                	</a>
		                </li>
		            </ul>
		        </div>		        
		        <a class="nav-link text-truncate" href="/Tareas?clm=adta" >
	        		<i class="fas fa-project-diagram"></i> 
	        		<span>Tareas</span>
	        	</a>
	        	<a class="nav-link collapsed text-truncate" href="#submenu-admin-persona" data-toggle="collapse" data-target="#submenu-admin-persona">
	        		<i class="fas fa-users"></i> 
	        		<span>Personas</span>
	        	</a>
	        	<div class="collapse cl-submenu cl-menu-group" id="submenu-admin-persona">
		            <ul class="flex-column pl-2 nav">
		                <li class="nav-item">
		                	<a class="nav-link py-0" href="/Persona/Filtro?clm=adpsfi">
		                		<i class="fas fa-search"></i>
		                		<span>Buscar</span>
		                	</a>
		                </li>
		                <li class="nav-item">
		                	<a class="nav-link py-0" href="/Persona/Crear?clm=adpsnu">
		                		<i class="fas fa-plus"></i>
		                		<span>Nuevo</span>
		                	</a>
		                </li>
		            </ul>
		        </div>
	        </div>
	    </li>
	    <li class="nav-item" sec:authorize="isAuthenticated()">
	    	<a class="nav-link collapsed text-truncate" href="#submenu-empleadocontrol" data-toggle="collapse" data-target="#submenu-empleadocontrol">
        		<i class="far fa-clock"></i>
	    		<span class="d-none d-sm-inline">Registrar tiempo</span>
        	</a>
        	<div class="collapse cl-submenu cl-menu-group" id="submenu-empleadocontrol">
	            <ul class="flex-column pl-2 nav">
	                <li class="nav-item">
	                	<a class="nav-link py-0" href="/EmpleadoControl/Filtro?clm=rtfi">
	                		<i class="fas fa-search"></i>
	                		<span>Buscar</span>
	                	</a>
	                </li>
	                <li class="nav-item">
	                	<a class="nav-link py-0" href="/EmpleadoControl/Crear?clm=ftnu">
	                		<i class="fas fa-plus"></i>
	                		<span>Nuevo</span>
	                	</a>
	                </li>
	            </ul>
	        </div>
	    </li>
	</ul>
</body>
</html>